@font-face {
  font-family: "NeueMontreal-Medium";
  src: url("/NeueMontreal/PPNeueMontreal-Medium.otf") format("opentype");
}

@font-face {
  font-family: "NeueMontreal-Book";
  src: url("/NeueMontreal/PPNeueMontreal-Book.otf") format("opentype");
}

@font-face {
  font-family: "NeueMontreal-Thin";
  src: url("/NeueMontreal/PPNeueMontreal-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Reckless-Light";
  src: url("/Reckless/RecklessTRIAL-Light.woff2") format("woff2");
}

.verticalText {
  background-color: #e4e4e7;
  font-family: "Reckless-Light";
  font-size: 1.2rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  height: 24.8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  transform: rotate(360deg);
}

.verticalTextActive {
  font-family: "Reckless-Light";
  font-size: 1.2rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  height: 24.8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #e4e4e7;
  align-items: center;
  writing-mode: vertical-rl;
  transform: rotate(360deg);
  border-left: none;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 205, 0);
}
