@font-face {
  font-family: "GT-Pressura-Bold";
  src: url("/GT-Pressura/GT-Pressura-Bold-Trial.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Pressura-Medium";
  src: url("/GT-Pressura/GT-Pressura-Medium-Trial.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Pressura-Light";
  src: url("/GT-Pressura/GT-Pressura-Light-Trial.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Pressura-Mono";
  src: url("/GT-Pressura/GT-Pressura-Mono-Light-Trial.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Alpina-Thin";
  src: url("/GT-Alpina/GT-Alpina-Standard-Thin-Trial.woff2") format("truetype");
}

@font-face {
  font-family: "GT-Alpina-Medium-Italic";
  src: url("/GT-Alpina/GT-Alpina-Standard-Medium-Italic-Trial.woff2")
    format("woff2");
}

@font-face {
  font-family: "GT-Alpina-Extended-Regular-Italic";
  src: url("/GT-Alpina/GT-Alpina-Extended-Regular-Italic-Trial.woff2")
    format("woff2");
}

@font-face {
  font-family: "GT-Alpina-Extended-Medium-Italic";
  src: url("/GT-Alpina/GT-Alpina-Extended-Medium-Italic-Trial.woff2")
    format("woff2");
}

@font-face {
  font-family: "GT-Alpina-Extended-Thin-Italic";
  src: url("/GT-Alpina/GT-Alpina-Extended-Thin-Italic-Trial.woff2")
    format("woff2");
}

@font-face {
  font-family: "GT-Cinetype-Mono";
  src: url("/GT-Cinetype/GT-Cinetype-Mono.woff2") format("woff2");
}

h1 {
  font-family: "GT-Alpina-Extended-Thin-Italic";
  font-size: 1.5rem;
}

h2 {
  font-family: "GT-Cinetype-Mono";
  font-size: 0.8rem;
}

h3 {
  font-family: "GT-Alpina-Thin";
  font-size: 1.2rem;
}

/* numbers */
h4 {
  font-family: "GT-Cinetype-Mono";
  font-size: 2rem;
}

/* bodytext */
p {
  font-family: "GT-Cinetype-Mono";
  font-size: 0.6rem;
}

/* logos */
.logo-small {
  font-family: "GT-Alpina-Extended-Medium-Italic";
  font-size: 1rem;
}

.logo-large {
  font-family: "GT-Alpina-Extended-Medium-Italic";
  font-size: 3rem;
}

.verticalText {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  border: 1px solid #93c5fd;
  border-top: none;
  transform: rotate(360deg);
}

.verticalTextActive {
  text-decoration: underline;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  border: 1px solid #93c5fd;
  border-top: none;
  transform: rotate(360deg);
  border-left: none;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 205, 0);
}
