@font-face {
  font-family: "GT-Pressura-Bold";
  src: url("/GT-Pressura/GT-Pressura-Bold-Trial.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Pressura-Medium";
  src: url("/GT-Pressura/GT-Pressura-Medium-Trial.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Pressura-Light";
  src: url("/GT-Pressura/GT-Pressura-Light-Trial.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Pressura-Mono";
  src: url("/GT-Pressura/GT-Pressura-Mono-Light-Trial.woff2") format("woff2");
}

.verticalText {
  font-family: "GT-Pressura-Light";
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  border: 1px solid #93c5fd;
  border-top: none;
  transform: rotate(360deg);
}

.verticalTextActive {
  font-family: "GT-Pressura-Medium";
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  border: 1px solid #93c5fd;
  border-top: none;
  transform: rotate(360deg);
  border-left: none;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 205, 0);
}
